<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>微信demo</title>
    </head>
    <body>
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript">
            wx.config({
                debug: true,
                appId: 'wxf540ae16cc7b380d',
                timestamp: 1481551440,
                nonceStr: '1161110101',
                signature: '728dfbd76b033b897ed14cdd4d0d9b6da0ee3d47',
                jsApiList: [
                  'startRecord',
                  'stopRecord',
                  'onVoiceRecordEnd',
                  'playVoice',
                  'onVoicePlayEnd',
                  'pauseVoice',
                  'stopVoice',
                  'uploadVoice',
                  'downloadVoice'
                ]
            });
        </script>
    </body>
</html>
